.list-wrapper {
  padding: 1rem;
  border-radius: 0.375rem; /* 6px Tailwind */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 40%; /* 2/5 Tailwind */
  background-color: rgb(214, 214, 214);
}

.header {
  background-color: #3b82f6; /* Azul Tailwind */
  border-radius: 0.375rem; /* 6px Tailwind */
  font-size: 1.5rem;
}

.filter-button {
  margin-right: 0.75rem;
  padding: 0.5rem 1rem;
}

.filter-button.all {
  background-color: #3b82f6; /* Azul Tailwind */
}

.filter-button.pending {
  background-color: #3b82f6;
}

.filter-button.complete {
  background-color: #3b82f6; /* Azul Tailwind */
}

@media screen and (max-width: 640px) {
  .list-wrapper {
    width: 90%;
  }
}
